<p>In this article you can find many different tasks for understanding numeral Systems.</p>

<div class="calculatingBlock">
    <h2>Binary Addition</h2>

    <div class="calculatingBlockContent">
        <div class="questionBlock">
            <div class="questionBlockContent">
                <p class="additionFirstNumber">01010</p>
                <p class="additionSecondNumber">0101</p>
                <p class="calcSign">+</p>
                <p class="line">__________________________</p>
                <p class="additionOutput"></p>
            </div>
        </div>

        <div class="settings">
            <div class="button secondButton settingsButton" onclick="newAdditionTask()">
                New Task
            </div>
            
            <div class="button secondButton settingsButton" onclick="showSolution()">
                Show solution
            </div>

        </div>
        
    </div>
    
    
</div>