<p>In this article you can find many different tasks for understanding numeral Systems.</p>

<div class="calculatingBlock">
    <h2>Task Sheet Generator</h2>

    <form method="POST" action="/heraCreatePdf?name=<%= articleName %>">
        <label>binaryToDecimal Tasks:</label>
        <input autocomplete="off" class="inputPDFModal" type="number" name="binaryToDezimal" value="10"><br>
    
        <label>decimalToBinary Tasks:</label>
        <input autocomplete="off" class="inputPDFModal" type="number" name="dezimalToBinary" value="10"><br>

        <label>BinaryAddition Tasks:</label>
        <input autocomplete="off" class="inputPDFModal" type="number" name="binaryAddition" value="10"><br>
        
        <input class="inputButton button secondButton" type="submit">
    </form>

    <% if (query.task != null) { %>
        <div class="outputPDFModal">
            <% if (query.task != null) { %>
                <a class="aButton" href="<%= query.task %>" target="_blank">
                    <div class="button secondButton">Download Task</div>
                </a>
            <% } %>
        
        
            <% if (query.solution != null) { %>
                <a class="aButton" href="<%= query.solution %>" target="_blank">
                    <div class="button secondButton">Download Solution</div>
                </a>
            <% } %>
        </div>
    <% } %>
    
</div>

<div class="calculatingBlock">
    <h2>Binary to Decimal</h2>

    <div class="calculatingBlockContent">
        <div class="questionBlock">
            <div class="questionBlockContent">
                <p class="simpleCalcNumber binaryToDecimalNumber"></p>
                <p class="line">__________________________</p>
                <p class="simpleCalcOutput binaryToDecimalOutput"></p>
            </div>
        </div>

        <div class="settings">
            <div class="button secondButton settingsButton" onclick="newBinaryToDecimalTask()">
                New Task
            </div>
            
            <div class="button secondButton settingsButton" onclick="showBinaryToDecimalSolution()">
                Show solution
            </div>

        </div>
        
    </div>
</div>

<div class="calculatingBlock">
    <h2>Decimal to Binary</h2>

    <div class="calculatingBlockContent">
        <div class="questionBlock">
            <div class="questionBlockContent">
                <p class="simpleCalcNumber decimalToBinaryNumber"></p>
                <p class="line">__________________________</p>
                <p class="simpleCalcOutput decimalToBinaryOutput"></p>
            </div>
        </div>

        <div class="settings">
            <div class="button secondButton settingsButton" onclick="newDecimalTOBinary()">
                New Task
            </div>
            
            <div class="button secondButton settingsButton" onclick="showDecimalToBinarySolution()">
                Show solution
            </div>

        </div>
        
    </div>
</div>




<div class="calculatingBlock">
    <h2>Binary Addition</h2>

    <div class="calculatingBlockContent">
        <div class="questionBlock">
            <div class="questionBlockContent">
                <p class="additionFirstNumber"></p>
                <p class="additionSecondNumber"></p>
                <p class="calcSign">+</p>
                <p class="line">__________________________</p>
                <p class="additionOutput"></p>
            </div>
        </div>

        <div class="settings">
            <div class="button secondButton settingsButton" onclick="newAdditionTask()">
                New Task
            </div>
            
            <div class="button secondButton settingsButton" onclick="showAdditionSolution()">
                Show solution
            </div>

        </div>
        
    </div>
</div>