.calculatingBlock {
  border: #3D405B 3px solid;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: 30px;
  background-color: #FCFBF6;
}
.calculatingBlock h2 {
  background-color: #3D405B;
  color: white;
  padding: 10px;
  margin-top: 0 !important;
  border-radius: 15px 15px 0 0;
}
.calculatingBlock .calculatingBlockContent {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 450px) {
  .calculatingBlock .calculatingBlockContent {
    display: block;
  }
  .calculatingBlock .calculatingBlockContent .settings {
    margin-top: 20px;
  }
  .calculatingBlock .calculatingBlockContent .settingsButton {
    width: calc(90% - 10px);
    margin-left: 20px;
  }
}
.calculatingBlock .calculatingBlockContent .settings {
  display: flex;
  flex-wrap: wrap;
}
.calculatingBlock .calculatingBlockContent .questionBlock {
  width: 200px;
  height: 100px;
  margin-left: 20px;
  text-align: right;
  border: #3D405B 3px solid;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}
@media (max-width: 450px) {
  .calculatingBlock .calculatingBlockContent .questionBlock {
    width: calc(90% - 30px);
    margin-left: 20px;
  }
  .calculatingBlock .calculatingBlockContent .questionBlock .questionBlockContent {
    margin: 0 auto;
    width: 200px;
  }
}
.calculatingBlock .calculatingBlockContent .questionBlock p {
  background-color: none !important;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 8px;
}
.calculatingBlock .calculatingBlockContent .questionBlock .line {
  font-family: "Roboto", sans-serif;
  letter-spacing: normal;
}
.calculatingBlock .calculatingBlockContent .questionBlock .calcSign {
  margin-top: -18px;
  margin-right: 170px;
}
.calculatingBlock .calculatingBlockContent .questionBlock .simpleCalcNumber {
  text-align: center;
  margin-top: 15px;
}
.calculatingBlock .calculatingBlockContent .questionBlock .simpleCalcOutput {
  text-align: center;
  margin-top: 10px;
  letter-spacing: normal;
}

.inputButton {
  height: 45px;
  float: none;
  clear: both;
  padding-top: 2px;
}

.aButton {
  color: black;
  width: 200px;
  text-decoration: none;
  margin: 5px;
}
.aButton .button {
  width: 200px;
  float: none;
}

.inputPDFModal {
  border: 3px #3D405B solid;
  background-color: #FCFBF6;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.outputPDFModal {
  width: calc(100% - 80px);
  margin-left: 20px;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  padding-bottom: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 560px) {
  .outputPDFModal {
    justify-content: space-evenly;
  }
}

.calculatingBlock form {
  width: calc(100% - 80px);
  margin-left: 20px;
  border-radius: 20px;
  padding: 20px;
  border: 3px #3D405B solid;
}
.calculatingBlock form label {
  min-width: 200px;
  display: inline-block;
}

.calculatingBlockRed {
  border: #E07A5F 3px solid;
}
.calculatingBlockRed form {
  border: 3px #E07A5F solid;
}
.calculatingBlockRed h2 {
  background-color: #E07A5F;
}
.calculatingBlockRed .calculatingBlockContent .questionBlock {
  border: #E07A5F 3px solid;
}
.calculatingBlockRed .button {
  border: 3px #E07A5F solid;
}
.calculatingBlockRed .button:hover {
  background-color: #E07A5F;
}

.calculatingBlockGreen {
  border: #81B29A 3px solid;
}
.calculatingBlockGreen form {
  border: 3px #81B29A solid;
}
.calculatingBlockGreen h2 {
  background-color: #81B29A;
}
.calculatingBlockGreen .calculatingBlockContent .questionBlock {
  border: #81B29A 3px solid;
}
.calculatingBlockGreen .button {
  border: 3px #81B29A solid;
}
.calculatingBlockGreen .button:hover {
  background-color: #81B29A;
}

/*# sourceMappingURL=binarySystem.css.map */
